.App {
  text-align: center;
}
.login {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10em;
}

.room-select {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.sign-out {
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-room{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(174, 190, 196, 0.8);
    padding-top: 1em;
    /* padding-left: 1em; */
    /* padding-right: 1em; */
    border: 1em;
}

.chat-box{
    max-width: 60em;
    background: rgba(83, 187, 232, 0.9);
    border: 1em;
    border-radius: 15%;
}
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    
}
.messages {
    max-height: 40em;
    color: rgba(83, 187, 232, 0.1);
    border-radius: 3%;
    padding: 1em;
    padding-right: 2em;
}


.submit {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em;
}
